body , html {
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    background: linear-gradient(45deg, #00c6fb, #005bea);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
.form {
    max-width: 450px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 45px 45px 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 15px #464646;
}
.input {
    width: 300px;
    border: 1px solid #bbb;
    border-radius: 10px;
}
input , button {
    outline: none;
}
input {
    padding: 6px 0px;
    margin-bottom: 25px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
.button__send {
    display: block;
    max-width: 150px;
    color: #fff;
    background: rgb(45, 182, 27);
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px 25px;
}
.title__text {
    background: #ddd;
    color: rgb(41, 41, 41);
    padding: 25px 45px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.message {
    border-radius: 10px;
    border: 1px solid #bbb;
    width: 300px;
    height: 100px;
}
.error {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 101, 101);
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0px 0px 15px #464646;
}
.sended {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 10px;
    background-color: rgb(45, 182, 27);
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0px 0px 15px #464646;
}